*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 40px;
    margin-left: 10px;
}

button{
    padding:  2px 20px;
}

main{
    background-color: aquamarine;
}
#container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(10% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100px;
    cursor: pointer;
    background-color: aquamarine;
}

.box.clicked{
    background-color: white;
}

footer{
    background-color: white;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    padding: 20px;
}

h5, a {
    font-size: 20px;
}